/* Global */
html{
    font-family: $mainFontFamily;
    font-weight: $normalFontWeight;

    h1 , h2, h3, h4 , h5, h6{
        font-family: $secondFontFamily;
        font-weight: $normalFontWeight;
    }

    p{
        font-weight: $normalFontWeight;
    }
}

/* Font Size */

html{
    font-size: clamp($mainMobileFontSize, 1.1vw ,$mainDesctopFontSize) !important;
}

/* Display Container */
.container{
    width: 90%;
    max-width: $containerWidth;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* link + button, hover effect */
.link{
    color: $linkColor;
    text-decoration: none;

    &:hover{
        text-decoration: none;
        font-weight: $mediumFontWeight;
    }
}

.button{
    background-color: $buttonActiveColor;
    border-radius: 80px;
    border: none;

    font-size: $smallFontSize;

    &:hover{
        border: solid 0.4px $buttonBorderColor;
    }
}

.button-transperent{
    background: none;
}

.show{
    display: block !important;
}

/* Grid system */

.row-column-2 , .row-column-3 , .row-column-4{
    display: grid;
}

.row-column-2{
    grid-template-columns: repeat(auto-fit, 50%);
}

.row-column-3{
    grid-template-columns: repeat(auto-fit, 33.33%);
}

.row-column-4{
    grid-template-columns: repeat(auto-fit, 25%);
}


