/* Display breakpoint */
$breakpointDesctop: 1900px;
$breakpointLaptop: 1024px;
$breakpointMobile: 768px;

/* Container Width */
$containerWidth: 1920px;

/* Background Color */
$bannerBackgroundColor: #bcbab8;
$bgColor1: rgba(217, 149, 54, 1);
$bgColor2: rgba(231, 183, 95, 1);
$bgColor3: rgba(253, 248, 234, 1);
$bgColor4: rgb(255, 255, 255);
$bgColor5: rgba(36, 28, 21, 1);

/* Button and Link color */
$buttonHoverColor: grey;
$buttonActiveColor: rgba(255, 224, 27, 1);

$linkColor: rgba(36, 28, 21, 1);

$whiteTextColor: $bgColor4;
