.about-us{
    height: 200vh;

    &__title{
        font-size: $mediumTitleFontSize;
    }

    &__title-container{
        text-align: center;
        height: 40vh;

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas:
            ". . . . . . ."
            ". . . . . . ."
            ". . a a a . ."
            ". . . . . . ."
            ". . . . . . .";

        & > *{
            grid-area: a;
            align-self: center;
            justify-self: center;
        }
    }

    &__description-row{
        grid-template-columns: repeat(auto-fit, 45%);
        column-gap: 10%;

        height: 70vh;
        margin-bottom: 10vh;
    }

    &__description-title{
        font-size: $mediumFontSize;

        margin-bottom: 1rem;
        margin-top: 8vh;

        &:last-child{
            margin-top: 10vh;
        }
    }

    &__first-row-title{
        margin-top: 40%;
    }

    &__last-description-title{
        margin-top: 30vh;
    }

    &__description-text{
        font-size: $normalFontSize;

        margin-bottom: 2rem;
    }
    /* Schema */

    &__schema{
        background-color: rgb(239, 238, 234);
        height: 100%;

        &-diagram{
            grid-template-columns: 25% 45% 30%;
        }

        &-icon{
            width: 25px;
        }

        &-step{
            display: flex;

            height: 8vh;
            width: 100%;

            justify-content: center;

            &-container{
                background-color: white;
                border-radius: 10px;
            }
        }

        &-text {
            padding-top: 1.5rem;
            padding-left: 0.5rem;
        }

        &-column:last-child {
            padding-top: 15vh;
        }

        &-description{
            margin-bottom: 5vh;
            padding: 5vh;
        }

        &-description-title{
            font-size: $mediumFontSize;
            //text-align: center;
        }
    }


}