.banner{
    height: 170vh;
    max-height: 1980px;
    padding-top: 8vh;

    background-color: $bannerBackgroundColor;

    &__container{
        width: 100%;
    }

    &__content{
        height: 42vh;
        max-height: 500px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            ". . . ."
            ". a a ."
            ". . . .";

        & > *{
            grid-area: a;
            align-self: center;
            justify-self: center;
            text-align: center;
        }
    }

    &__title{
        font-size: $largeTitleForntSize;
        margin-bottom: 1.5rem;
    }

    &__text{
       font-size: $mediumFontSize;
    }
}