.banner{
    min-height: 75rem;
    padding-top: 5rem;

    background-color: $bannerBackgroundColor;

    &__container{
        width: 100%;
    }

    /* banner title & text container*/
    &__content{
        min-height: 20rem;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            ". . . ."
            ". a a ."
            ". . . .";

        & > *{
            grid-area: a;
            text-align: center;
        }
    }

    &__title{
        font-size: $largeTitleForntSize;
        margin-bottom: 1.5rem;
    }

    &__text{
       font-size: $mediumFontSize;
    }
}

/* MDP laptop */
@include MDP{
    .banner{
        min-height: 81rem;
        
        &__content{
            min-height: 26rem;
        }
    }
}