.banner-benefits{
    min-height: 50rem;

    &__row-1{
        min-height: 30rem;
    }

    &__img{
        width: 100%;
        max-height: 80%;
    }

    &__content{
        padding: 1.5rem;
    }

    &__title{
        margin-bottom: 2rem;
        font-size: $normalFontSize;
    }

    &__link{
        margin-left: 1rem;
        font-size: $smallFontSize;
    }

    #banner-benefits-1{
        background-color: $bgColor1;
    }

    #banner-benefits-2{
        background-color: $bgColor2;
    }

    #banner-benefits-3{
        background-color: $bgColor3;
    }

    #banner-benefits-4{
        background-color: $bgColor4;
    }

    &__row-2{
        background-color: $bgColor5;
        min-height: 20rem;

        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas:
            ". . . . . . . ."
            ". . . . . . . ."
            ". . . . . . . ."
            ". . a a a a . ."
            ". . . . . . . .";

        & > *{
            grid-area: a;
            align-self: center;
        }
    }

    &__text{
        text-align: center;
        color: $whiteTextColor;
        font-size: $mediumFontSize;
    }
}