.disclaimers{
    min-height: 15rem;
    padding: 1rem 0;

    background-color: $bgColor6;

    display: grid;

    &__container{
        display: grid;
        align-items: center;
        
        min-height: 100%;
    }

    &__text-block{
        height: fit-content;
    }

    &__text{
        font-size: $smallFontSize;
        line-height: 1rem;
    }
}
