.header{
    position: fixed;

    width: 100vw;
    padding: 1.5vw 0px;

    background-color: $bannerBackgroundColor;

    &__menu {
        display: flex;
        align-items: center;
    }

    &__link{
        font-size: $smallFontSize;

        margin-right: 1.5vw;
    }

    &__logo {
        width: 250px;
        height: auto;

        justify-self: center;
    }

    &__controls{
        display: grid;
        grid-template-columns: 2fr 3fr;

        align-items: center;
    }

    &__contacts{
        height: 100%;
        display: grid;
        align-items: center;

        text-align: right;
        font-size: $smallFontSize;
        
        margin-right: 5%;
    }

    &__sign-in-sign-up-bar{
        display: grid;
        grid-template-columns: 12.5% 25% 25% 37.5%;
    }

    .language-switcher{
        width: 40px;
        border-radius: 120px;

        &__icon {
            height: 75%;
        }
    }
}