.prices{
    height: 110vh;
    max-height: 1800px;
    padding: 10vh 0vh;

    background-color: $bgColor6;

    &__title-container{
        text-align: center;
        height: 10vh;
        max-height: 110px;
    }

    &__title{
        font-size: $mediumTitleFontSize;
    }

    &__recommends-plan{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            ". a . .";

        & > *{
            /* text */
            grid-area: a;
            align-self: center;
            justify-self: center;
            text-align: center;
        }
    }

    &__recomends-plan-container{
        height: 5vh;
        padding: 1.7vh 0;
        width: 100%;

        font-size: $smallFontSize;

        background-color: $bgColor7;
        border: solid 1px $borderColor;
    }

    &__table-container{
        height: fit-content;

        background-color: $bgColor4;

        & > *{
            border: solid 1px $borderColor;

            padding: 1.5vw;
        }
    }

    &__plan-describe{
        height: 6vh;
        max-height: 80px;
    }

    &__plan-row{
        border-bottom: solid 1px $borderColor;
        min-height: 5vh;
        max-height: 300px;
        padding: 2.5vh 0;

        &:last-child{
            border: none;
        }

        &:first-child{
            padding-top: 0;

            &> p:last-child{
                margin-top: 2vh;
            }
        }
    }

    &__plan-text{
        color: $greyTextColor;
        font-size: $smallFontSize;

        margin-top: 1vh;
    }

    &__row-title{
        font-size: $smallFontSize;
        text-align: center;
        text-decoration: underline;
    }

    /* Service plan warning */

    &__service-plan-warning{
        text-align: center;
        color: $greyTextColor;
        margin: 1.5vh 0;

        & span:first-child{
            font-weight: $mediumFontWeight;
            color: $regularTextColor;
        }

        & span:last-child{
            text-decoration: underline;
        }
    }

    /* Prices See All Plan Button */

    &__button-container{
        text-align: center;
    }

    &__see-all-plan-button{
        width: 12vw;
        height: 5vh;
    }
}